<div class="container-fluid">
  <div class="row home-box">
    <div class="col">
        <div class="row">
          <div class="col">
              <h4>Directorio telefonico</h4>
              <hr>
          </div> 
        </div>
        <div class="row">
          <div class="col">
            <div class="float-right">
              <button class="btn btn-primary">Nuevo numero</button>
            </div>
          </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th># telefonico</th>
                        <th>Direccion</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let person of List">
                        <td>{{ person.name }}</td>
                        <td>{{ person.lastname }}</td>
                        <td>{{ person.phone }}</td>
                        <td>{{ person.direction }}</td>
                        <td> {{ person.rowid }} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div> 
        </div>
    </div>
  </div>
</div>